body{
    background-color: #f1f1f1;
    margin:0%;
    
}

header{
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Comic Sans Ms;
}
nav{
    overflow: hidden;
    background-color: #333;
}
nav a{
    float: left;
    color: white;
    padding: left;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
    color: white;
}
.column{
    float: left;
    padding: 10px;
}

.column.side{
    width: 20%;

}

.column.middle{
    width:50%;
}


div.gallery{
    margin: 5px;
    border: 5px solid black;
    float: left;
    width:180px;

}
div.gallery:hover{
    border: 5px solid red;

}

div.gallery img{
    width:100%;
    height: 20;
}
div.desc{
    padding: 15px;
    text-align: center;
}


footer{
    clear: both;
    padding: 10px;
    color: white;
    background-color: green;
    font-family: Comic Sans Ms;
    text-align: center;
}